# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# OS
.DS_Store

# Ollama
.ollama/
*.gguf

# Logs
*.log

# Editor
.vscode/
.idea/

# Cache / temp
*.cache
Manuals/
secrets.enc
